<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.punko.reader">

    <application
        android:label="Reader by Punko"
        android:icon="@mipmap/app_icon">

        <activity
            android:name=".EntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">

            <intent-filter android:label="View documents">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Современный content:// -->
                <data android:scheme="content" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />

                <!-- Старые file:// -->
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.pdf" />
                <data android:pathPattern=".*\\.docx" />
                <data android:pathPattern=".*\\.xlsx" />
            </intent-filter>
        </activity>

    </application>
</manifest>