<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.punko.pureader"
    android:installLocation="auto">

    <!-- uses-sdk в манифесте игнорируется Gradle'ом, берётся из Player Settings,
         оставим всё равно для читаемости -->
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="PuReader"
        android:icon="@mipmap/app_icon"
        android:allowBackup="true"
        android:extractNativeLibs="true"
        tools:replace="android:label,android:allowBackup,android:extractNativeLibs">

        <!-- Полностью заменяем UnityPlayerActivity, чтобы точно включить и ускорить -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="fullUser"
            android:hardwareAccelerated="true"
            android:enabled="true"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            tools:node="replace">

            <!-- Иконка в лаунчере -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Открыть PDF из «Открыть с помощью…» -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="application/pdf" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>

            <!-- Поделиться → PuReader -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>

            <!-- (необязательно) более широкий фильтр, если файловый менеджер ставит MIME криво -->
            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter>
            -->
        </activity>

    </application>
</manifest>
